.gradle/
build/
target/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat
!artifacts/*.jar
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath
*.log
nbproject/
nbactions.xml
netbeans/
